body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
a {
  color: #262626;
}

/* 20C6AF Main Color
FA9F85 E-Mail Product Color
B872EF Landing Page Product Color
FDBE41 Automation Product Color
262626 Paragraph, Headlines Color */
